.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Topbar{
    height: 10vh;
    max-width: auto;
    position: relative;
    /* box-shadow: 4px 4px 4px #1414144b; */
}
.logo{
    width: 30%;
    justify-content: left;
}
.logo h1, .Logo1 h1{
    margin-left: 20px;
    color: #20666fde;
}
.logo img, .Logo1 img{
    height: 40px;
}
.user{
    width: 50%;
    text-align: right;
}
/* .logout{
    width: 10%;
    text-align: center;
} */
.logout-btn{
    height: 7vh;
    width: 85%;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 25px;
    background-color: #296a72c9;
    filter: drop-shadow(5px 5px 2px #ffffff4b);
    box-shadow: 3px 3px 3px #ffffff4b inset;
}
.logout-btn:hover{
    height: 8vh;
    width: 75%;
    font-size: larger;
    transition: 0.2s;
    background-color: #20666f94;
    filter: drop-shadow(5px 5px 2px #ffffff4b);
    box-shadow: 3px 3px 3px #ffffff4b inset;
    cursor: pointer;
}
.user-profile{
    border: none;
    background: none;
    font-size: larger;
    font-weight: bold;
    color: #20666fde;
    cursor: pointer;
}
.user-profile:hover{
    font-size: 22px;
    text-shadow: 3px 3px 3px #17171760;
}
.Profile{
    position: relative;
    left: 15%;
    padding: .5rem;
}
.Logo1{
    width: 40%;
    justify-content: center;
}
.Options{
    position: absolute;
    z-index: 1;
    left: -50px;
    height: 15vh;
    width: 20vw;
    flex-direction: column;
    border-radius: 25px;
    box-shadow: 4px 4px 4px #1414144b, -4px -4px 4px #53535344;
    background-color: #fff;
}
.Option{
    padding: .5rem;
}
.Menu{
    position: absolute;
    left: 10%;
    cursor: pointer;
}
.Icon{
    position: absolute;
    top: 40%;
    margin-left: 5px;
}
.Icon1{
    font-size: 2rem;
}