.dashboard{
    min-height: 80vh;
    width: 80%;
    overflow: hidden;
    margin-top: 15vh;
    margin-left: auto;
    /* position: relative; */
}
.dash-items{
    height: 80vh;
    width: 100%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: space-evenly;
}
.card{
    height: 25rem;
    width: 80%;
    /* margin-top: 30px; */
    background: var(--hover-color);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    transform-style: preserve-3d;
    border-radius: 32px;
    box-shadow: 1px 1px 8px 3px #f9f9fb57 inset, -1px 0 28px 0 rgba(34, 33, 81, 0.01),  15px 15px 15px 0 rgba(34, 33, 81, 0.25);
    transition: .4s ease-in-out transform, .4s ease-in-out box-shadow;

    &:hover {
        transform: translate3d(10px, 0px, 10px);
        box-shadow: 1px 1px 8px 3px #f9f9fb57 inset, -1px 0 28px 0 rgba(34, 33, 81, 0.01),  15px 15px 15px 0 rgba(34, 33, 81, 0.25);
      }
}
.card-items{
    padding: 1.7rem;
    text-align: center;
}
.card-heading, .card-data{
    padding: .5rem;
    font-size: 1.9rem;
}

/******* media query *******/

@media only screen and (max-width: 470px) {
    .dashboard{
        width: 100vw;
        margin-inline: auto;
    }
    .dash-items{
        height: 150vh;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
    }
    .card{
        height: 160px;
        width: 70%;
        padding: 0.5rem;
    }
    .card-heading, .card-data{
        padding: 0.2rem;
        font-size: small;
    }
}

@media only screen and (min-width: 471px) and (max-width: 868px) {
    .dashboard{
        width: 100vw;
    }
    .dash-items{
        height: 500px;
        width: 100%;
        /* padding: 2rem; */
        grid-template-columns: 50% 50%;
        row-gap: 30px;
        margin-left: 20px;
    }
    .card{
        height: 12rem;
        width: 70%;
    }
    .card-heading, .card-data{
        font-size: .8rem;
    }
}
@media only screen and (min-width: 869px) and (max-width: 1024px) {
    .dash-items{
        height: 50vh;
        padding: 1rem;
        grid-template-columns: 30% 30% 30%;
        row-gap: 20px;
    }
    .card{
        height: 12rem;
        width: 90%;
    }
    .card-heading, .card-data{
        font-size: .8rem;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1749px) {
    .dashboard{
        width: 83vw;
    }
    .dash-items{
        height: 50vh;
        padding-left: 3.5rem;
        grid-template-columns: 30% 30% 30%;
        row-gap: 40px;
    }
    .card{
        height: 13rem;
        width: 75%;
    }
    .card-heading, .card-data{
        font-size: .9rem;
    }
}