.DisplayReports{
    height: 90vh;
    width: 85.6vw;
    margin-inline: auto;
    flex-direction: column;
}
.bugTable{
    height: 80vh;
    width: 90%;
    padding: 1rem;
    overflow: auto;
    text-align: center;
}
.bugTable::-webkit-scrollbar{
    height: 0.5rem;
    width: 0.5rem;
}
.bugTable::-webkit-scrollbar-thumb{
    border-radius: 0.5rem;
    background-color: #0004;
    visibility: hidden;
}
.bugTable:hover::-webkit-scrollbar-thumb{  
    visibility: visible;
}
table{
    padding: 1rem;
}
table, th, td, tr{
    margin-inline: auto;
    padding: 0.6rem;
    width: 90%;
}
.bugTable thead th{
    text-wrap: nowrap;
    background-color: var(--secondary-color);
}
.bugTable tbody tr:nth-child(even) {
    background-color: #95ee4c44;
}
.bugTable tbody tr:hover{
    background-color: #afee7cd4;
}
.table-btn{
    padding: .5rem;
    height: 5vh;
    width: 60%;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    box-sizing: border-box;
    margin-inline: auto;
}
.btn1{
    background-color: var(--secondary-color);
}
.btn2{
    background-color: rgb(255, 130, 130);
}

.UserModal {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    /* background-color: rgba(0, 0, 0, 0.5); */
    width: 60%;
    min-height: 50vh; 
    height: fit-content;
}

.modal-content {
    background-color: rgb(255, 255, 255);
    height: fit-content;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* max-width: 40%;  */
}
.file-preview{
    aspect-ratio: 16/9;
}

.ZoomedImage{
    aspect-ratio: 1/1;
    position: absolute;
    top: 20%;
    left: 30%;
    /* transform: translateX(-50%); */
    z-index: 1000;
    width: 60%;
    height: 60vh;
}

/******* media query *******/

@media only screen and (max-width: 921px) {
    .bug-table{
        height: 60vh;
        width: 100%;
    }
    th, td, tr{
        padding: 0.3rem;
        width: 90%;
    }
}