.DisplayReports{
    height: 90vh;
    width: 85.6vw;
    margin-inline: auto;
    flex-direction: column;
}
.bugTable{
    height: 80vh;
    width: 90%;
    padding: 1rem;
    overflow: auto;
    scrollbar-width: none;
    text-align: center;
}
table{
    padding: 1rem;
}
table, th, td, tr{
    margin-inline: auto;
    padding: 0.6rem;
    width: 90%;
}
.bugTable thead th{
    text-wrap: nowrap;
    background-color: var(--hover-color);
}
.bugTable tbody tr:nth-child(even) {
    background-color: var(--light-metallic-green);
}
.bugTable tbody tr:hover{
    background-color: var(--hover-color);
}
.table-btn{
    padding: .5rem;
    height: 5vh;
    width: 60%;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    box-sizing: border-box;
    margin-inline: auto;
}
.btn1{
    background-color: var(--button-metallic-green);
}
.btn2{
    border: 1px solid var(--bright-red);
    background-color: var(--bright-red);
}

.UserModal {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000;
    /* background-color: rgba(0, 0, 0, 0.5); */
    width: 100%;
    min-height: 50vh; 
    height: fit-content;
}

.modal-content {
    background-color: rgba(255, 255, 255, 0);
    height: fit-content;
    width: 60%;
    padding: 20px;
    /* margin-left: 100px; */
    transform: translateX(10%);
    backdrop-filter: blur(4px);
}
.file-preview{
    aspect-ratio: 16/9;
}

.ZoomedImage{
    aspect-ratio: 1/1;
    position: absolute;
    top: 20%;
    left: 30%;
    z-index: 1000;
    width: 60%;
    height: 60vh;
}
.bugHistory{
    height: 80vh;
    width: 83.7vw;
    padding: 1rem;
    overflow: auto;
}
.bugDetails{
    height: 80vh;
    width: 83.7vw;
    padding: 1rem;
    overflow: auto;
}
.Detail h3{
    color: #396f0c;
}
.search{
    margin-left: 50px;
}
.his-btn{
    height: 6vh;
    width: 10vw;
    margin: 10px 2px;
    border: none;
    border-radius: 40px;
    box-sizing: border-box;
    background-color: var(--button-metallic-green);
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}

/******* media query *******/

@media only screen and (max-width: 921px) {
    .bug-table{
        height: 60vh;
        width: 100%;
    }
    th, td, tr{
        padding: 0.3rem;
        width: 90%;
    }
}