.reportBug{
    min-height: 80vh;
    width: 80vw;
    margin-top: 100px;
    margin-left: auto;
}
.bug-form{
    height: fit-content;
    width: 70%;
    padding: 1rem;
    background: var(--light-metallic-green);
    border-radius: 16px;
    box-shadow: 2px 3px 10px #ffffffe9 inset, 3px 5px 10px #5c5c5c7e;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px); 

    transform-style: preserve-3d;
    border-radius: 32px;
    box-shadow: 1px 1px 8px 3px #ffffff9a inset, -1px 0 28px 0 #122c122a,  28px 28px 28px 0 #21512358;
    transition: .4s ease-in-out transform, .4s ease-in-out box-shadow;

    &:hover {
        transform: translate3d(0px, -16px, 0px);
        box-shadow: 1px 1px 8px 3px #ffffff9a inset, -1px 0 28px 0 #122c122a,  28px 28px 28px 0 #21512358;
      }
}
form{
    height: inherit;
    width: 90%;
    flex-direction: column;
}
.form-heading{
    padding: 1rem;
    font-size: 2rem;
}
.form-heading h1{
    color: var(--secondary-color);
}
.form-item{
    width: 100%;
    margin: 3px;
    text-align: center;
}
.form-item input, textarea{
    height: 8vh;
    width: 100%;
    outline: none;
    padding: 0.2rem;
    font-size: 2rem;
    text-align: left;
    border: 1px solid rgba(27, 78, 85, 0.162);
    background: #ffffffc6;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
}
textarea{
    height: 15vh;
    font-family: serif;
}
.form-submit button{
    cursor: pointer;
    height: 7vh;
    font-size: 2rem;
    font-weight: bold;
    padding: 1.5rem;
    margin-top: 15px;
    border: 1px solid var(--button-metallic-green);
    border-radius: 50px;
    background-color: var(--button-metallic-green);
}
.form-submit button:hover {
    padding: 1.7rem;
    font-size: 2.2rem;
    background-color:  var(--hover-color);
}

.editReport{
    width: 50vw;
}

/******* media query *******/

@media only screen and (max-width: 470px) {
    .reportBug{
        width: 100%;
        margin-top: 100px;
        margin-left: 0;
    }
    .bug-form{
        width: 75%;        
    }
    .form-heading{
        font-size: .8rem;
    }
    .form-item input, textarea{
        height: 6vh;
        font-size: .8rem;
    }
    textarea{
        height: 10vh;
    }
    .form-submit button{
        height: 6vh;
        font-size: .8rem;
        padding: .5rem;
    }
    .form-submit button:hover {
        font-size: 1rem;
        padding: .7rem;
    }
}
@media only screen and (min-width: 471px) and (max-width: 868px) {
    .reportBug{
        width: 100%;
        margin-top: 100px;
        margin-left: 0;
    }
    .bug-form{
        width: 75%;        
    }
    .form-heading{
        font-size: 1rem;
    }
    .form-item input, textarea{
        height: 6vh;
        font-size: 1rem;
    }
    textarea{
        height: 12vh;
    }
    .form-submit button{
        height: 6vh;
        font-size: 1rem;
        padding: .5rem;
    }
    .form-submit button:hover {
        font-size: 1.2rem;
        padding: .7rem;
    }
}

@media only screen and (min-width: 869px) and (max-width: 1024px) {
    .form-heading{
        font-size: 1rem;
    }
    .form-item input, textarea{
        height: 6vh;
        font-size: 1rem;
    }
    textarea{
        height: 12vh;
    }
    .form-submit button{
        height: 6vh;
        font-size: 1rem;
        padding: .5rem;
    }
    .form-submit button:hover {
        font-size: 1.2rem;
        padding: .7rem;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1749px) {
    .bug-form{
        width: 60%;        
    }
    .form-heading{
        font-size: 1.3rem;
    }
    .form-item input, textarea{
        height: 6vh;
        font-size: 1.3rem;
    }
    textarea{
        height: 12vh;
    }
    .form-submit button{
        height: 8vh;
        font-size: 1.3rem;
        padding: 1rem;
    }
    .form-submit button:hover {
        padding: 1.2rem;
        font-size: 1.5rem;
    }
}