.UserProfile{
    height: 90vh;
    width: 85.6vw;
    overflow: auto;
}
.UserProfile::-webkit-scrollbar{
    height: 0.5rem;
    width: 0.5rem;
}
.UserProfile::-webkit-scrollbar-thumb{
    border-radius: 0.5rem;
    background-color: #0004;
    visibility: hidden;
}
.UserProfile:hover::-webkit-scrollbar-thumb{  
    visibility: visible;
}
.profile-name, .profile-username, .profile-password{
    height: 13vh;
    width: 50%;
}
.profile-form input{
    text-align: center;
}
.profile-form label{
    padding: 0.5rem;
    font-size: large;
    font-weight: bold;
}
.profile-image{
    aspect-ratio: 1/1;
    max-width: 200px;
    max-height: 200px;
    border-radius: 100%;
}
.profile-img{
    width: 50%;
    padding: 1rem;
    text-align: center;
}
.choose-img{
    padding: 1rem;
}
.input-image{
    display: none;
}
.save{
    background-color: #7a9c53;
}
.save-btn{
    height: 10vh;
    width: 40%;
}
.sv-btn, .cancel-btn, .edit-btn{
    height: 7vh;
    width: 60%;
    padding: 0.7rem;
    margin: 4px;
    border-radius: 25px;
    background-color: #23755f7f;
    text-align: center;
    cursor: pointer;
    border: none;
    font-size: large;
    font-weight: bold;
}
.cancel-btn{
    background-color: #fa6464a4;
}