.UserProfile{
    min-height: 80vh;
    /* background-color: pink; */
    width: 90vw;
    margin-top: 2rem;
    margin-left: auto;
    overflow: auto;
}
.prof{
    display: flex;
}
.profile-name, .profile-username{
    height: 13vh;
    width: 80%;
}
.profile-heading{
    padding: 2rem;
    font-size: 2.3rem;
    /* margin-inline: auto; */
}
.profile-heading h1.user{
    color: var(--accent-color);
}
.profile-heading h1.admin{
    height: 13vh;
    width: 50%;
    color: #296972;
}
.profile-form{
    padding: 3rem;
}
.profile-form input{
    font-size: 2.5rem;
    text-align: center;
}
.profile-form label{
    padding: 0.5rem;
    font-size: 2.5rem;
    font-weight: bold;
}
.profile-img{
    width: 100%;
    padding: 1rem;
    font-size: 2.5rem;
    text-align: center;
}
.profile-image{
    aspect-ratio: 1/1;
    width: 400px;
    height: 400px;
    border-radius: 100%;
}
.choose-img{
    padding: 1rem;
}
.input-image{
    display: none;
}
.save{
    background-color: var(--button-metallic-green);
}
.save-btn{
    height: 10vh;
    width: 40%;
}
.sv-btn.user, .edit-btn.user{
    height: 7vh;
    width: 60%;
    padding: 0.7rem;
    margin: 4px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    border: none;
    font-size: 2.5rem;
    font-weight: bold;
    background-color: var(--button-metallic-green);
}
.sv-btn.admin, .edit-btn.admin{
    height: 7vh;
    width: 60%;
    padding: 0.7rem;
    margin: 4px;
    border-radius: 25px;
    text-align: center;
    cursor: pointer;
    border: none;
    font-size: large;
    font-weight: bold;
    background-color: #296972ba;
}
.cancel-btn{
    height: 7vh;
    width: 60%;
    padding: 0.7rem;
    margin: 4px;
    border-radius: 50px;
    text-align: center;
    cursor: pointer;
    border: none;
    font-size: 2.5rem;
    font-weight: bold;
    background-color: var(--bright-red);
}
.webCam{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    object-fit: cover;
}

/* Media Query */
@media only screen and (max-width: 470px) {
    .UserProfile{
        width: 100%;
        margin-top: 4rem;
        margin-inline: auto;
        text-align: center;
        padding: 0;
    }
    .prof{
        display: block;
    }
    .profile-heading{
        font-size: 1rem;
    }
    .profile-heading h1{
        width: 100%;
    }
    .profile-form{
        padding: 0;
        width: 100%;
    }
    .profile-form input{
        font-size: 1rem;
    }
    .profile-form label{
        font-size: 1rem;
    }
    .profile-img{
        padding: 0;
        font-size: 1rem;
    }
    .profile-image{
        aspect-ratio: 1/1;
        width: 150px;
        height: 150px;
    }
    .sv-btn.user, .edit-btn.user{
        width: 60%;
        font-size: 1rem;
    }
    .sv-btn.admin, .edit-btn.admin{
        width: 60%;
        font-size: 1rem;
    }
    .cancel-btn{
        width: 60%;
        font-size: 1rem;
    }
    .webCam{
        height: 150px;
        width: 150px;
    }
}

@media only screen and (min-width: 471px) and (max-width: 868px) {
    .UserProfile{
        margin-top: 5rem;
    }
    .profile-heading{
        font-size: 1.2rem;
    }
    .profile-form input{
        font-size: 1.2rem;
    }
    .profile-form label{
        padding: 0.5rem;
        font-size: 1.2rem;
    }
    .profile-img{
        font-size: 1.2rem;
    }
    .profile-image{
        aspect-ratio: 1/1;
        width: 200px;
        height: 200px;
    }
    .sv-btn.user, .edit-btn.user{
        width: 80%;
        font-size: 1.2rem;
    }
    .sv-btn.admin, .edit-btn.admin{
        width: 80%;
        font-size: 1.2rem;
    }
    .cancel-btn{
        width: 80%;
        font-size: 1.2rem;
    }
    .webCam{
        height: 200px;
        width: 200px;
    }
}

@media only screen and (min-width: 869px) and (max-width: 1024px) {
    .UserProfile{
        margin-top: 5rem;
    }
    .profile-heading{
        font-size: 1.2rem;
    }
    .profile-form input{
        font-size: 1.2rem;
    }
    .profile-form label{
        padding: 0.5rem;
        font-size: 1.2rem;
    }
    .profile-img{
        font-size: 1.2rem;
    }
    .profile-image{
        aspect-ratio: 1/1;
        width: 200px;
        height: 200px;
    }
    .sv-btn.user, .edit-btn.user{
        width: 60%;
        font-size: 1.2rem;
    }
    .sv-btn.admin, .edit-btn.admin{
        width: 60%;
        font-size: 1.2rem;
    }
    .cancel-btn{
        width: 60%;
        font-size: 1.2rem;
    }
    .webCam{
        height: 200px;
        width: 200px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1749px) {
    .profile-heading{
        font-size: 1.6rem;
    }
    .profile-form input{
        font-size: 1.6rem;
    }
    .profile-form label{
        padding: 0.5rem;
        font-size: 1.6rem;
    }
    .profile-img{
        font-size: 1.6rem;
    }
    .profile-image{
        aspect-ratio: 1/1;
        width: 250px;
        height: 250px;
    }
    .sv-btn.user, .edit-btn.user{
        width: 60%;
        margin: 4px;
        font-size: 1.8rem;
    }
    .sv-btn.admin, .edit-btn.admin{
        width: 60%;
        font-size: 1.8rem;
    }
    .cancel-btn{
        width: 60%;
        font-size: 1.6rem;
    }
    .webCam{
        height: 300px;
        width: 300px;
    }
}