:root{
  --primary-color: #1b4e55;
  --secondary-color: #a5cc78;
  --accent-color: #ffffff;
  --background-color: #f5f5f5;
  --text-color: #333333;
}
.parent{
  background-color: var(--background-color);
}
.box{
  display: flex;
}