.chat-container{
    /* padding: 2rem; */
    /* width: 70vw; */
    min-height: 80vh;
    margin-top: 10rem;
    margin-left: auto;
    /* font-size: 2rem; */
}
.chat-container h1{
    font-size: 4.5rem;
    padding: .5rem;
    color: var(--accent-color2);
}
.messages{
    padding: .5rem;
    min-height: 50vh;
    width: 100%;
    margin-inline: auto;
    margin-top: 50px;
}
.message{
    padding: .3rem;
    display: flex;
    flex-direction: column;
    /* margin-left: auto; */
    
}
.message.sent{
    align-items: flex-end;
}
.message.received{
    align-items: flex-start;
}
.messages .message h4{
    font-size: 2.5rem;
    font-weight: bold;
}
.messages .message p{
    height: fit-content;
    width: fit-content;
    padding: 0.5rem;
    font-size: 2.5rem;
    border-radius: 25px;
    filter: drop-shadow(5px 5px 2px #ffffff4b);
    box-shadow: 3px 3px 3px #ffffff4b inset;
}
.message p.admin{
    border: 1px solid #296a72c9;
}
.message p.user{
    border: 1px solid var(--button-metallic-green);
}
.message-input{
    max-width: 95%;
    margin-left: auto;
}
.message-input textarea{
    margin-top: 50px;
}
.send-btn{
    height: 7vh;
    width: 15%;
    margin-left: 30px;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 25px;
    filter: drop-shadow(5px 5px 2px #ffffff4b);
    box-shadow: 3px 3px 3px #ffffff4b inset;
    cursor: pointer;
}
.send-btn.admin{
    background-color: #296a72c9;
}
.send-btn.user{
    background-color: var(--button-metallic-green);
}

/****** media query ******/

@media only screen and (max-width: 470px) {
    .chat-container{
        margin-top: 3rem;
        margin-left: 0;
        margin-inline: auto;
    }
    .chat-container h1{
        font-size: 1.8rem;
    }
    .messages{
        margin-top: 10px;
    }
    .messages .message h4{
        font-size: .8rem;
    }
    .messages .message p{
        font-size: .8rem;
    }
    .message-input textarea{
        margin-top: 0px;
    }
    .send-btn{
        font-size: .8rem;
    }
}

@media only screen and (min-width: 471px) and (max-width: 868px) {
    .chat-container{
        margin-top: 3rem;
        margin-left: 0;
        margin-inline: auto;
    }
    .chat-container h1{
        font-size: 2rem;
    }
    .messages{
        margin-top: 10px;
    }
    .messages .message h4{
        font-size: 1rem;
    }
    .messages .message p{
        font-size: 1rem;
    }
    .message-input textarea{
        margin-top: 0px;
    }
    .send-btn{
        font-size: 1rem;
    }
}

@media only screen and (min-width: 869px) and (max-width: 1024px) {
    .chat-container{
        margin-top: 3rem;
    }
    .chat-container h1{
        font-size: 2rem;
    }
    .messages{
        margin-top: 10px;
    }
    .messages .message h4{
        font-size: 1rem;
    }
    .messages .message p{
        font-size: 1rem;
    }
    .message-input textarea{
        margin-top: 0px;
    }
    .send-btn{
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1749px) {
    .chat-container{
    padding: 0;
    margin-top: 5rem;
    }
    .chat-container h1{
        font-size: 2.8rem;
    }
    .messages{
        margin-top: 30px;
    }
    .messages .message h4{
        font-size: 1.4rem;
    }
    .messages .message p{
        font-size: 1.4rem;
    }
    .message-input textarea{
        margin-top: 0px;
    }
    .send-btn{
        font-size: 1.5rem;
    }
} 