.container{
    overflow: hidden;
}
.hero-span{
    color: var(--accent-color2);
    font-size: 2.7rem;
    text-shadow: 3px 5px 2px #74737372;
}
.hero{
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    background: var(--light-metallic-green);
    background: linear-gradient(to left, var(--light-metallic-green), var(--background-color));  
    animation: hero-bg 25s ease infinite;
    background-position: center;
}
.hero-bg{
    background: var(--light-metallic-green);  
    background: linear-gradient(to left, var(--light-metallic-green), var(--background-color));  
    width: 100%;
    height:100vh;
}
.hero-heading h1{
    font-size: 2.5rem;
}
.hero-text{
    position: absolute;
    top: 25%;
    left: 5%;
    height: 60vh;
    width: 45%;
    padding: 1rem;
    text-align: center;
}
.hero-btn{
    height: 20vh;
    width: 100%;
    padding: 1.5rem;
}
.btn{
    height: 9vh;
    width: 20%;
    /* color: #4f6c7d; */
    font-weight: bold;
    font-size: medium;
    border: none;
    border-radius: 50px;
    background-color: var(--button-metallic-green);
    box-shadow: 3px 3px 4px #ffffff74 inset, 2px 2px 8px #262525b9;
}
.btn:hover{
    height: 10vh;
    width: 22%;
    font-size: large;
    transition: 0.2s;
    background-color: var(--hover-color);
    cursor: pointer;
}
.hero-login{
    position: absolute;
    left: 50%;
    width: 50%;   
}

.circles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.circles li{
    position: absolute;
    display: block;
    list-style: none;
    width: 20px;
    height: 20px;
    background: rgba(255, 255, 255, 0.368);
    animation: animate 25s linear infinite;
    bottom: -150px;  
}
.circles li:nth-child(1){
    left: 25%;
    width: 80px;
    height: 80px;
    animation-delay: 0s;
}
.circles li:nth-child(2){
    left: 10%;
    width: 20px;
    height: 20px;
    animation-delay: 2s;
    animation-duration: 12s;
}
.circles li:nth-child(3){
    left: 70%;
    width: 20px;
    height: 20px;
    animation-delay: 4s;
}
.circles li:nth-child(4){
    left: 40%;
    width: 60px;
    height: 60px;
    animation-delay: 0s;
    animation-duration: 18s;
}
.circles li:nth-child(5){
    left: 65%;
    width: 20px;
    height: 20px;
    animation-delay: 0s;
}
.circles li:nth-child(6){
    left: 75%;
    width: 110px;
    height: 110px;
    animation-delay: 3s;
}
.circles li:nth-child(7){
    left: 35%;
    width: 150px;
    height: 150px;
    animation-delay: 7s;
}
.circles li:nth-child(8){
    left: 50%;
    width: 25px;
    height: 25px;
    animation-delay: 15s;
    animation-duration: 45s;
}
.circles li:nth-child(9){
    left: 20%;
    width: 15px;
    height: 15px;
    animation-delay: 2s;
    animation-duration: 35s;
}
.circles li:nth-child(10){
    left: 85%;
    width: 150px;
    height: 150px;
    animation-delay: 0s;
    animation-duration: 11s;
}
@keyframes animate {

    0%{
        transform: translateY(0) rotate(0deg);
        opacity: 1;
        border-radius: 0;
    }

    100%{
        transform: translateY(-1000px) rotate(720deg);
        opacity: 0;
        border-radius: 50%;
    }

}

/******* media queries *******/

@media only screen and (max-width: 868px) {
    .hero{
        height: 150vh;
    }
    .hero-text{
        display: block;
        top: 5%;
        height: 30vh;
        width: 80%;
        padding: 1rem;
        text-align: center;
    }
    .hero-login{
        top: 45%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
    .hero-span{
        font-size: 2.4rem;
    }
    .hero-heading h1{
        font-size: 2rem;
    }
}

@media only screen and (max-width: 867px) {
    .hero{
        height: 150vh;
    }
    .hero-text{
        display: block;
        top: 5%;
        height: 40vh;
        width: 80%;
        padding: 1rem;
        text-align: center;
    }
    .hero-login{
        top: 48%;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        
    }
}