.login{
    height: inherit;
    width: inherit;
    padding: 1rem;
}
.login-form{
    height: fit-content;
    width: 50%;
    padding: 1rem;
    border-radius: 30px;
    margin-inline: auto;
    text-align: center;
    background-color: #81c78441;
    box-shadow: 2px 3px 10px #ffffff84 inset, 3px 5px 10px #9797977e;

    transform-style: preserve-3d;
    border-radius: 32px;
    box-shadow: 1px 1px 8px 3px #f9f9fb57 inset, -1px 0 28px 0 rgba(34, 33, 81, 0.01),  28px 28px 28px 0 rgba(34, 33, 81, 0.25);
    transition: .4s ease-in-out transform, .4s ease-in-out box-shadow;

    &:hover {
        transform: translate3d(0px, -16px, 0px);
        box-shadow: 1px 1px 8px 3px #f9f9fb57 inset, -1px 0 28px 0 rgba(34, 33, 81, 0.01),  28px 28px 28px 0 rgba(34, 33, 81, 0.25);
      }
}
form{
    width: 90%;
}
.header{
    padding: 1rem;
    font-size: 20px;
    text-shadow: 4px 3px 3px #b3b4b4;
}
.header h1{
    color: var(--accent-color2);
}
.username, .password, .name, .confirm-password, .role{
    height: 10vh;
    width: 100%;
}
select{
    height: 8vh;
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 25px;
    text-align: center;
    font-size: medium;
    background-color: #f2f5f796;
    filter: drop-shadow(3px 3px 2px #8584847e);
    box-shadow: 3px 3px 2px #858484ce inset;
}
 input{
    height: 4vh;
    width: 100%;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 25px;
    text-align: center;
    font-size: medium;
    background-color: #f2f5f796;
    filter: drop-shadow(2px 2px 5px #8584847e);
    box-shadow: 3px 3px 2px #bbbbbbce inset, 2px 2px 5px #8888887e;
}
.login-btn{
    margin-inline: auto;
    width: 100%;
    padding: 0.5rem;
}
.lg-btn{
    height: 2.5rem;
    width: 40%;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    background-color: var(--button-metallic-green);
    filter: drop-shadow(5px 5px 2px #ffffff4b);
    box-shadow: 3px 3px 6px #ecececce inset, 2px 2px 5px #8888887e;
}
.sign{
    padding: 1rem;
    width: 90%;
}
.sign a{
    font-size: 17.5px;
    text-decoration: none;
    color: #1b4e55;
}
.password{
    width: 100%;
    /* background-color: #1b4e55; */
}
.tog-pass{
    width: 10%;
}
.tog-btn{
    padding: 0.5rem;
    cursor: pointer;
    font-size: medium;
    font-weight: bold;
    border: none;
    background: none;
}