.login{
    /* height: ma; */
    width: 100%;
    padding: 1rem;
}
.login-form{
    height: fit-content;
    width: 60%;
    padding: 1rem;
    border-radius: 60px;
    margin-inline: auto;
    text-align: center;
    background-color: #81c78441;
    box-shadow: 2px 3px 10px #ffffff84 inset, 3px 5px 10px #9797977e;

    transform-style: preserve-3d;
    border-radius: 32px;
    box-shadow: 1px 1px 8px 3px #f9f9fb57 inset, -1px 0 28px 0 rgba(34, 33, 81, 0.01),  28px 28px 28px 0 rgba(34, 33, 81, 0.25);
    transition: .4s ease-in-out transform, .4s ease-in-out box-shadow;

    &:hover {
        transform: translate3d(0px, -16px, 0px);
        box-shadow: 1px 1px 8px 3px #f9f9fb57 inset, -1px 0 28px 0 rgba(34, 33, 81, 0.01),  28px 28px 28px 0 rgba(34, 33, 81, 0.25);
      }
}
form{
    width: 100%;
    padding: 1rem;
    /* background-color: yellowgreen; */
}
.header{
    padding: 1rem;
    font-size: 2rem;
    text-shadow: 5px 5px 5px #737373;
}
.header h1{
    color: var(--accent-color2);
}
.username, .password, .name, .confirm-password, .role{
    height: 10vh;
    width: 100%;
}
 input{
    height: 6vh;
    width: 95%;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 50px;
    text-align: center;
    font-size: 2rem;
    background-color: #f2f5f796;
    filter: drop-shadow(2px 2px 5px #8584847e);
    box-shadow: 3px 3px 2px #bbbbbbce inset, 2px 2px 5px #8888887e;
}
select{
    height: 8vh;
    width: 95%;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 50px;
    text-align: center;
    font-size: 1.5rem;
    background-color: #f2f5f796;
    filter: drop-shadow(2px 2px 5px #8584847e);
    box-shadow: 3px 3px 2px #bbbbbbce inset, 2px 2px 5px #8888887e;
}
.role select option{
    height: 6vh;
    width: 30%;
    padding: 1rem;
}
.login-btn{
    margin-inline: auto;
    width: 100%;
    padding: 0.5rem;
}
.lg-btn{
    height: 5rem;
    width: 40%;
    font-size: 2rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 50px;
    background-color: var(--button-metallic-green);
    filter: drop-shadow(5px 5px 2px #ffffff4b);
    box-shadow: 3px 3px 6px #ecececce inset, 2px 2px 5px #8888887e;
}
.sign{
    padding: 1rem;
    width: 90%;
    font-size: 2rem;
}
.sign a{
    /* font-size: 2rem; */
    text-decoration: none;
    color: var(--secondary-color);
}
.password{
    width: 100%;
    /* background-color: #1b4e55; */
}
.tog-pass{
    width: 10%;
}
.tog-btn{
    padding: 0.5rem;
    cursor: pointer;
    font-size: 2rem;
    font-weight: bold;
    border: none;
    background: none;
}

/****** media query ******/

@media only screen and (max-width: 470px) {
    .login{
        width: 100vw;
        /* position: absolute; */
        padding: 0;
        
    }
    .login-form{
        padding: .5rem;
        width: 70%;
        margin-top: 50px;
    }
    form {
        padding: 0;
    }
    .header{
        font-size: 1rem;
    }
     input{
        width: 100%;
        padding: .5rem;
        font-size: 1rem;
    }
    .lg-btn{
        height: 2.5rem;
        font-size: 1rem;
    }
    .sign{
        padding: 0.5rem;
        font-size: .9rem;
    }
    .tog-btn{
        font-size: 1rem;
    }
}    

@media only screen and (min-width: 471px) and (max-width: 868px) {
    .login-form{
        width: 100%;
        padding: .5rem;
    }
    form {
        padding: 0;
    }
    .header{
        font-size: 1rem;
    }
     input{
        width: 100%;
        padding: .5rem;
        font-size: 1rem;
    }
    .lg-btn{
        height: 2.5rem;
        font-size: 1rem;
    }
    .sign{
        padding: 0;
        font-size: 1rem;
    }
    .tog-btn{
        font-size: 1rem;
    }
}    

@media only screen and (min-width: 869px) and (max-width: 1024px) {
    .login-form{
        padding: 1rem;
    }
    form {
        padding: 0;
    }
    .header{
        font-size: 1rem;
    }
     input{
        width: 100%;
        padding: .5rem;
        font-size: 1rem;
    }
    .lg-btn{
        height: 2.5rem;
        font-size: 1rem;
    }
    .sign{
        padding: 0;
        font-size: 1rem;
    }
    .tog-btn{
        font-size: 1rem;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1749px) {
    .login-form{
        padding: .4rem;
    }
    .header{
        font-size: 1.4rem;
    }
     input{
        height: 4vh;
        width: 90%;
        padding: 1rem;
        font-size: 1.3rem;
    }
    .lg-btn{
        height: 3rem;
        font-size: 1.3rem;
    }
    .sign{
        padding: 1rem;
        font-size: 1.3rem;
    }
    .tog-btn{
        padding: 0.5rem;
        font-size: 1.3rem;
    }
}