.Notifications{
    min-height: 80vh;
    /* padding: 1rem; */
    width: 80vw;
    margin-top: 10rem;
    font-size: 2rem;
    margin-left: auto;
}
.notification{
    height: 70vh;
    width: 70vw;
    /* padding: 1rem; */
    overflow: auto;
    margin-inline: auto;
    scrollbar-width: thin;
    /* display: grid;
    grid-template-columns: 50% 50%; */
}
.notify{
    height: fit-content;
    width: 40%;
    padding: 1rem;
    margin-top: 25px;
    border-radius: 30px;
    margin-inline: auto;
    text-align: center;
    filter: drop-shadow(3px 3px 2px #5150507e);

    transform-style: preserve-3d;
    border-radius: 32px;
    box-shadow: 1px 1px 8px 3px #f9f9fb57 inset, -1px 0 28px 0 rgba(34, 33, 81, 0.01),  8px 8px 8px 0 rgba(34, 33, 81, 0.25);
    transition: .4s ease-in-out transform, .4s ease-in-out box-shadow;

    &:hover {
        transform: translate3d(3px, -6px, 3px);
        box-shadow: 1px 1px 8px 3px #f9f9fb57 inset, -1px 0 28px 0 rgba(34, 33, 81, 0.01),  20px 20px 20px 0 rgba(34, 33, 81, 0.25);
      }
}
.notify.admin{
    background-color: #1b4e5530;
}
.notify.user{
    background-color: var(--light-metallic-green);
}
.notification h3{
    font-size: 2.8rem;
    padding: 1rem;
}
.heading h1.user{
    color: var(--secondary-color);
}
.history-btn.user{
    background-color: var(--button-metallic-green);
}

/******* media query *******/

@media only screen and (max-width: 470px) {
    .Notifications{
        margin-top: 5rem;
        font-size: .8rem;
        margin-left: 0;
        margin-inline: auto;
    }
    .notification h3{
        font-size: 1rem;
        padding: .5rem;
    }
    .notify{
        width: 70%;
    }
}    

@media only screen and (min-width: 471px) and (max-width: 868px) {
    .Notifications{
        margin-top: 5rem;
        font-size: 1rem;
        margin-left: 0;
        margin-inline: auto;
    }
    .notification h3{
        font-size: 1.2rem;
        padding: .5rem;
    }
    .notify{
        width: 80%;
    }
}

@media only screen and (min-width: 869px) and (max-width: 1024px) {
    .Notifications{
        margin-top: 5rem;
        font-size: 1.2rem;
    }
    .notification h3{
        font-size: 1.4rem;
        padding: 1rem;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1749px) {
    .Notifications{
        margin-top: 6rem;
        font-size: 1.5rem;
    }
    .notification h3{
        font-size: 1.8rem;
        padding: 1rem;
    }
}