.sidebar{
    height: 90vh;
    width:15vw;
    background-color: var(--background-color);
    padding: 1.8rem;
    margin-top: 10vh;
    text-align: center;
    position: fixed;
}
.sidebar ul {
    position: relative;
}

.sidebar ul li {
    padding: .5rem;
    height: 10vh;
}

.sidebar ul li a {
    font-size: 2.5rem;
    text-decoration: none;
    color: #302f2f;
    border-bottom: 4px solid transparent;
    position: relative;
  }
  
  .sidebar ul li a::after {
    content: '';
    display: block;
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 0;
    height: 5px;
    background: var(--primary-color);
    transition: all 0.6s ease-in-out;
  }
  
  /* Hover effect for non-active links */
  .sidebar ul li:hover a::after {
    left: 0;
    width: 100%;
  }
  
  /* Active state */
  .sidebar ul li.active a::after {
    left: 0;
    width: 100%;
  }

/******* media query *******/

@media only screen and (max-width: 470px) {
  .sidebar{
        z-index: 2;
        width: 100%;
        height: fit-content;
        overflow: hidden;
        margin-top: 70px;
        padding: 0;
    }
    .sidebar ul li {
        width: 100%;
        margin-inline: auto;
        padding: 0;
    }
    .sidebar ul li a {
      font-size: 1.2rem;
    }
}

@media only screen and (min-width: 471px) and (max-width: 868px) {
  .sidebar{
    z-index: 2;
    width: 100%;
    height: fit-content;
    overflow: hidden;
  }
  .sidebar ul li {
      margin-inline: auto;
      padding: 0;
  }
  .sidebar ul li a {
    font-size: 1.5rem;
  }
}

@media only screen and (min-width: 869px) and (max-width: 1024px) {
  .sidebar{
    padding: 1rem;
  }
  .sidebar ul li a {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1749px) {
  .sidebar{
    padding: 1rem;
  }
  .sidebar ul li a {
    font-size: 1.6rem;
  }
}