.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.hide{
    display: none;
}
.UserTopbar{
    width:100%;
    position: fixed;
    z-index: 10001;
    height: 10rem;
    background-color: #ffffff;
    /* box-shadow: 4px 4px 4px #1414144b; */
}
.UserTopbar .logo{
    width: 30%;
    /* margin-left: 20px; */
    font-size: 1.8rem;
}
.UserTopbar .logo h1, .logo1 h1{
    color: var(--accent-color);
}
.UserTopbar .logo img, .logo1 img{
    height: 90px;
    width: 90px;
}
.user{
    width: 30%;
}
.user button{
    margin-right: 15px;
}
.logout{
    width: 10%;
    text-align: center;
}
.UserTopbar .logout-btn{
    height: 7vh;
    width: 85%;
    padding: 0.5rem;
    font-size: 1.8rem;
    font-weight: bold;
    text-align: center;
    color: #edfaef;
    border: none;
    border-radius: 50px;
    background-color: var(--accent-color2);
    filter: drop-shadow(5px 5px 2px #ffffff4b);
    box-shadow: 3px 3px 3px #ffffff4b inset;
}
.UserTopbar .logout-btn:hover{
    height: 8vh;
    width: 75%;
    font-size: larger;
    transition: 0.2s;
    background-color: var(--hover-color);
    filter: drop-shadow(5px 5px 2px #ffffff4b);
    box-shadow: 3px 3px 3px #ffffff4b inset;
    cursor: pointer;
}
.UserTopbar .user-profile{
    color: var(--accent-color);
    border: none;
    background: none;
    font-size: 2.2rem;
    font-weight: bold;
    cursor: pointer;
}
.UserTopbar .user-profile-image{
    height: 100px;
    width: 100px;
}
.UserTopbar .user-profile:hover{
    font-size: 22px;
    text-shadow: 1px 1px 2px #1717176b;
}
.menu{
    cursor: pointer;
}
.icon1{
    font-size: 2rem;
}

/******* media query *******/

@media only screen and (max-width: 470px) {
    .UserTopbar{
        height: 4.5rem;
    }
    .UserTopbar .logo{
        font-size: .8rem;
    }
    .UserTopbar .logo img, .logo1 img{
        height: 40px;
        width: 40px;
    }
    .UserTopbar .logout-btn{
        font-size: 1rem;
    }
    .UserTopbar .user-profile{
        font-size: 1.3rem;
    }
    .UserTopbar .user-profile-image{
        height: 40px;
        width: 40px;
    }
    .logo1{
        width: 100%;
        /* background-color: blue; */
    }
    .logo1 img{
        height: 35px;
        width: 35px;
    }
    .logo1 h1{
        font-size: 1.2rem;
    }
    .menu, .log{
        width: 60%;
        /* background-color: red; */
    }
}

@media only screen and (min-width: 471px) and (max-width: 868px) {
    .UserTopbar{
        height: 4.5rem;
    }
    .UserTopbar .logo{
        font-size: .8rem;
    }
    .UserTopbar .logo img, .logo1 img{
        height: 40px;
        width: 40px;
    }
    .UserTopbar .logout-btn{
        font-size: 1rem;
    }
    .UserTopbar .user-profile{
        font-size: 1.3rem;
    }
    .UserTopbar .user-profile-image{
        height: 40px;
        width: 40px;
    }
    .logo1{
        width: 100%;
        /* background-color: blue; */
    }
    .logo1 h1{
        font-size: 1.5rem;
    }
    .menu, .log{
        width: 100%;
        /* background-color: red; */
    }
}    

@media only screen and (min-width: 869px) and (max-width: 1024px) {
    .UserTopbar{
        height: 4.5rem;
    }
    .UserTopbar .logo{
        font-size: .8rem;
    }
    .UserTopbar .logo img, .logo1 img{
        height: 40px;
        width: 40px;
    }
    .UserTopbar .logout-btn{
        font-size: 1rem;
    }
    .UserTopbar .user-profile{
        font-size: 1.3rem;
    }
    .UserTopbar .user-profile-image{
        height: 40px;
        width: 40px;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1749px) {
    .UserTopbar{
        height: 5rem;
    }
    .UserTopbar .logo{
        font-size: 1rem;
    }
    .UserTopbar .logo img, .logo1 img{
        height: 50px;
        width: 50px;
    }
    .UserTopbar .logout-btn{
        font-size: 1.4rem;
    }
    .UserTopbar .user-profile{
        font-size: 1.5rem;
    }
    .UserTopbar .user-profile-image{
        height: 50px;
        width: 50px;
    }
}