.Container{
    overflow: hidden;
}
.Hero-span{
    color: #1b4e55;
    font-size: 2.7rem;
    text-shadow: 5px 5px 2px #89898972;
}
.Hero{
    height: 100vh;
    width: 100%;
    overflow: hidden;
    position: absolute;
    background: #eefdff;
    animation: hero-bg 10s ease infinite;
    background-position: center;
}

.Hero-heading h1{
    font-size: 2.5rem;
}
.Hero-text{
    position: absolute;
    top: 25%;
    left: 5%;
    height: 60vh;
    width: 45%;
    padding: 1rem;
    text-align: center;
}
.Circle{
    height: 10rem;
    width: 10rem;
    position: fixed;
    border-radius: 50%;
    background-color: #1b4e55bd;

    animation: bounce 2s cubic-bezier(0.05, 0.05, 1, 1) infinite alternate ;
    -webkit-animation: bounce 2s cubic-bezier( 0.05, 0.05, 1, 1) infinite alternate; 
}
@keyframes bounce {
    from{
        transform: translate3d(0,0,0);
    }
    to{
        transform: translate3d(0, 100px, 0);
    }
} 
@-webkit-keyframes bounce { 
    from { 
        -webkit-transform: translate3d(0, 0, 0); 
        transform: translate3d(0, 0, 0); 
    } 
    to { 
        -webkit-transform: translate3d(0, 100px, 0); 
        transform: translate3d(0, 100px, 0); 
    } 
} 
.Circle1{
    height: 12rem;
    width: 12rem;
    top: 6%;
    right: 30%;
    animation-delay: 0.6s;
}
.Circle2{
    top: 60%;
    left: 5%;
    animation-delay: 0.2s;
    /* background-color: #a5cc78cc; */
}
.Circle3{
    top: 55%;
    right: 4%;
}
.hero-login{
    position: absolute;
    left: 50%;
    width: 50%;   
}
.Login-form{
    height: fit-content;
    width: 50%;
    padding: 1rem;
    border-radius: 30px;
    margin-inline: auto;
    text-align: center;
    background-color: #1b4e5549;
    filter: drop-shadow(8px 8px 5px #5150507e);
}
.Lg-btn{
    height: 2.5rem;
    width: 40%;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    border: none;
    border-radius: 25px;
    background-color: #1b4e5571;
}

/******* media queries *******/

@media only screen and (max-width: 749px) {
    .Hero{
        height: 150vh;
    }
    .Hero-text{
        display: block;
        top: 5%;
        height: 30vh;
        width: 80%;
        padding: 1rem;
        text-align: center;
    }
    .hero-login{
        top: 45%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
    }
    .Hero-span{
        font-size: 2.4rem;
    }
    .Hero-heading h1{
        font-size: 2rem;
    }
    .Circle{
        height: 6.2rem;
        width: 6.2rem;
    }
    .Circle1{
        height: 7.5rem;
        width: 7.5rem;
        top: 15%;
        right: 20%;
    }
    .Circle2{
        top: 75%;
        left: 12%;
    }
    .Circle3{
        top: 60%;
        right: 4%;
    }
}

@media only screen and (min-width: 750px) and (max-width: 1120px) {
    .Hero{
        height: 150vh;
    }
    .Hero-text{
        display: block;
        top: 5%;
        height: 40vh;
        width: 80%;
        padding: 1rem;
        text-align: center;
    }
    .hero-login{
        top: 48%;
        left: 50%;
        transform: translateX(-50%);
        width: 90%;
        
    }
    .Circle{
        height: 7.7rem;
        width: 7.7rem;
    }
    .Circle1{
        height: 9.5rem;
        width: 9.5rem;
        top: 12%;
        right: 19%;
    }
    .Circle2{
        top: 60%;
        left: 9%;
    }
    .Circle3{
        top: 72%;
        right: 4%;
    }
}