.displayReports{
    height: 90vh;
    width: 85vw;
    margin-inline: auto;
    flex-direction: column;
}
.displayUsers{
    height: 90vh;
    width: 85vw;
    margin-inline: auto;
    flex-direction: column;
}
.Bug-Table, .User-Table{
    height: 70vh;
    width: 75vw;
    padding: 1rem;
    overflow: auto;
    scrollbar-width: none;
    text-align: center;
}
table{
    padding: 1rem;
    /* width: 78vw; */
}
th, td, tr{
    margin-inline: auto;
    padding: 0.2rem;
    width: 100vw;
    text-align: center;
}
.User-Table tr{
    width: 60vw;
}
.tableHead th{
    padding: 1rem;
    text-wrap: nowrap;
    background-color: #1b4e55;
    color: #e4f2f4;
}
tbody tr:nth-child(even) {
    background-color: #1b4e557d;
}
tbody tr:hover{
    background-color: #2a7882df;
}
.fileAttached{
    aspect-ratio: 1/1;
}
.Table-Btn{
    padding: .5rem;
    height: 5vh;
    width: 60%;
    border: none;
    border-radius: 15px;
    font-weight: bold;
    box-sizing: border-box;
    margin-inline: auto;
}
.Btn1{
    background-color: #76c7a4c0;
}
.Btn2{
    background-color: #ff8282;
}
.user-profile-image{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.heading h1{
    width: 50vw;
    padding: .5rem;
    text-align: center;
    margin-left: 20px;
}
.search{
    height: 1vh;
    width: 17vw;
    margin-right: 10px;
}
.details{
    cursor: pointer;
    font-weight: bold;
    font-style: italic;
    color: rgb(79, 76, 76);
}
.font-icon{
    margin-left: 10px;
    color: #ffffff ;
}
.red-text{
    padding: 0.5rem;
    border-radius: 25px;
    border: 1px solid red;
    color: red;
}
.yellow-text{
    padding: 0.5rem;
    border-radius: 25px;
    border: 1px solid #ffd500;
    color: #ffd500;
}
.green-text{
    padding: 0.5rem;
    border-radius: 25px;
    border: 1px solid green;
    color: green;
}
/******* media query *******/

@media only screen and (max-width: 921px) {
    .Bug-Table{
        height: 60vh;
        width: 100%;
    }
    th, td, tr{
        padding: 0.3rem;
        width: 90%;
    }
}