.Sidebar{
    height: 80.5vh;
    width: 10vw;
    padding: 2rem;
    float: left;
    background-color: var(--primary-color);
    text-align: center;
}
.Item{
    height: 10vh;
}
.Item a{
    font-size: 1.3rem;
    text-decoration: none;
    color: #acacac;
}
.Item a:hover{
    height: 5vh;
    padding: 1rem;
    text-align: center;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
}

/******* media query *******/

@media only screen and (max-width: 921px) {
    a{
        font-size: 1.1rem;
    }
    a:hover{
        font-size: 1.2rem;
        padding: 0.7rem;
    }
}

@media only screen and (min-width: 922px) and (max-width: 1120px) {
    a{
        font-size: 1.1rem;
    }
    a:hover{
        font-size: 1.2rem;
        padding: 0.9rem;
    }
}