.admin{
    height: 80vh;
    width: 85vw;
}
.DashItems{
    height: 80vh;
    width: 90%;
    padding: 1rem;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    justify-content: center;
}
.Card{
    height: 220px;
    width: 80%;
    margin-top: 30px;
    background: #2969728a;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);

    transform-style: preserve-3d;
    border-radius: 32px;
    box-shadow: 1px 1px 8px 3px #f9f9fb57 inset, -1px 0 28px 0 rgba(34, 33, 81, 0.01),  15px 15px 15px 0 rgba(34, 33, 81, 0.25);
    transition: .4s ease-in-out transform, .4s ease-in-out box-shadow;

    &:hover {
        transform: translate3d(10px, 0px, 10px);
        box-shadow: 1px 1px 8px 3px #f9f9fb57 inset, -1px 0 28px 0 rgba(34, 33, 81, 0.01),  15px 15px 15px 0 rgba(34, 33, 81, 0.25);
      }
}
.CardItems{
    padding: 1.7rem;
    text-align: center;
}
.CardHeading, .CardData{
    padding: .5rem;
}

@media only screen and (max-width: 867px) {
    .admin{
        width: 100vw;
        margin-top: 30px;
    }
    .DashItems{
        height: 100vh;
        padding: 3rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: auto;
    }
    .Card{
        height: 160px;
        width: 50%;
        padding: 1rem;
    }
    .CardHeading, .CardData{
        /* padding: 1rem; */
        font-size: small;
    }
}
@media only screen and (min-width: 868px) and (max-width: 1049px) {
    .admin{
        width: 75vw;
        padding: 1.5rem;
    }
    .DashItems{
        padding: 1rem;
        grid-template-columns: 50% 50%;
    }
    .Card{
        height: 210px;
        width: 75%;
    }
}

@media only screen and (min-width: 1050px) and (max-width: 1280px) {
    .admin{
        width: 83vw;
    }
    .DashItems{
        padding: 1rem;
        grid-template-columns: 30% 30% 30%;
        gap: 5%;
    }
    .Card{
        width: 100%;
    }
    .CardHeading, .CardData{
        /* padding: .5rem; */
        font-size: medium;
    }
}