.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Topbar{
    position: sticky;
    height: 10vh;
    width: 100vw;
    background-color: var(--accent-color);
    box-shadow: 4px 4px 4px #1414144b;
}
.logo{
    width: 35%;
    margin-left: 20px;
    justify-content: left;
}
.logo h1{
    margin-left: 10%;
    color: #20666fde;
}
.logo img{
    height: 40px;
}
.user{
    width: 50%;
    text-align: end;
}
.logout{
    width: 10%;
    text-align: center;
}
.logout-btn{
    height: 7vh;
    width: 85%;
    padding: 0.5rem;
    font-size: 1rem;
    font-weight: bold;
    text-align: center;
    border: none;
    border-radius: 25px;
    background-color: #296a72c9;
    filter: drop-shadow(5px 5px 2px #ffffff4b);
    box-shadow: 3px 3px 3px #ffffff4b inset;
}
.logout-btn:hover{
    height: 8vh;
    width: 75%;
    font-size: larger;
    transition: 0.2s;
    background-color: #20666f94;
    filter: drop-shadow(5px 5px 2px #ffffff4b);
    box-shadow: 3px 3px 3px #ffffff4b inset;
    cursor: pointer;
}
.user-profile{
    border: none;
    background: none;
    font-size: larger;
    font-weight: bold;
    color: #20666fde;
    cursor: pointer;
}
.user-profile:hover{
    font-size: 22px;
    text-shadow: 3px 3px 3px #17171760;
}

/******* media query *******/

@media only screen and (max-width: 921px) {
    .logo{
        width: 33%;
    }
    .user{
        width: 45%;
    }
    .logout-btn{
        height: 7vh;
        width: 100%;
        padding: 0.5rem;
        font-size: 0.9rem;
    }
    .logout-btn:hover{
        height: 8vh;
        width: 110%;
        font-size: 1rem;
        transition: 0.2s;
        background-color: #389ba9da;
        filter: drop-shadow(5px 5px 2px #ffffff4b);
        box-shadow: 3px 3px 3px #ffffff4b inset;
        cursor: pointer;
    }
}