.detail{
    height: inherit;
    width: 85vw;
    padding: 1rem;
    overflow: auto;
    scrollbar-width: none;
    box-sizing: border-box;
}
.heading h1{
    font-size: 6vh;
    color: #1b4e55;
}
.left{
    height: 60vh;
    width: 50%;
    padding: 1rem;
    float: left;
}
.right{
    height: 60vh;
    width: 60%;
    padding: 1rem;
    float: right;
}
.right img{
    aspect-ratio: 1/1;
}
/* .detail::-webkit-scrollbar, .history::-webkit-scrollbar{
    height: 0.5rem;
    width: 0.5rem;
}
.detail::-webkit-scrollbar-thumb, .history::-webkit-scrollbar-thumb{
    border-radius: 0.5rem;
    background-color: #0004;
    visibility: hidden;
}
.detail:hover::-webkit-scrollbar-thumb, .history:hover::-webkit-scrollbar-thumb{  
    visibility: visible;
} */
.detail h3{
    padding: .5rem;
    color: #1b4e55;
}
.detail-ip{
    width: 80%;
    margin-top: 10px;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 25px;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    background-color: #f2f5f796;
    filter: drop-shadow(2px 2px 2px #8584847e);
    box-shadow: 3px 3px 2px #858484ce inset;

}
.right ol{
    margin-left: 30px;
}
.order-item{
    margin-bottom: 20px;
}
.history-btn{
    height: 6vh;
    width: 10vw;
    border: none;
    border-radius: 40px;
    box-sizing: border-box;
    background-color: #1b4e557d;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
}
.history{
    height: 80vh;
    width: 82.2vw;
    padding: 1rem;
    overflow: auto;
}