.bug-details{
    height: 80vh;
    width: 83%;
    margin-left: auto;
    margin-top: 100px;
}
.detail{
    width: 80%;
    margin-inline:auto;
    overflow: auto;
    scrollbar-width: thin;
    box-sizing: border-box;
}
.left{
    height: 60vh;
    width: 50%;
    padding: 1rem;
    float: left;
}
.right{
    height: 60vh;
    width: 60%;
    padding: 1rem;
    float: right;
}
.right img{
    aspect-ratio: 1/1;
}
/* .detail::-webkit-scrollbar, .history::-webkit-scrollbar{
    height: 0.5rem;
    width: 0.5rem;
}
.detail::-webkit-scrollbar-thumb, .history::-webkit-scrollbar-thumb{
    border-radius: 0.5rem;
    background-color: #0004;
    visibility: hidden;
}
.detail:hover::-webkit-scrollbar-thumb, .history:hover::-webkit-scrollbar-thumb{  
    visibility: visible;
} */
.detail h3{
    padding: .5rem;
    color: var(--accent-color);
}
.detail-ip{
    width: 80%;
    margin-top: 10px;
    padding: 1rem;
    outline: none;
    border: none;
    border-radius: 25px;
    text-align: center;
    font-size: medium;
    font-weight: bold;
    background-color: #f2f5f796;
    filter: drop-shadow(2px 2px 2px #8584847e);
    box-shadow: 3px 3px 2px #858484ce inset;

}
.right ol{
    margin-left: 30px;
}
.order-item{
    margin-bottom: 20px;
}
.history-btn{
    height: 6vh;
    width: 40%;
    margin-top: 10px;
    font-size: 2rem;
    border: none;
    border-radius: 40px;
    box-sizing: border-box;
    margin-inline: auto;
    background-color: var(--button-metallic-green);
    text-align: center;
    /* font-weight: bold; */
    cursor: pointer;
}
.history{
    margin-top:50px;
    height: 80vh;
    margin-left: auto;
    width: 83vw;
    padding: 1rem;
    overflow: auto;
    scrollbar-width: none;
}
.bug-history-div{
    width: 75vw;
    overflow: scroll;
    margin-inline: auto;

}
.bug-history-table{
    
}
/****** media query ******/
@media only screen and (max-width: 470px) {
    .history-btn{
        font-size: .8rem;
    }
}

@media only screen and (min-width: 471px) and (max-width: 868px) {
    .history-btn{
        font-size: 1rem;
    }
}

@media only screen and (min-width: 869px) and (max-width: 1024px) {
    .history-btn{
        font-size: 1.2rem;
    }
}

@media only screen and (min-width: 1025px) and (max-width: 1749px) {
    .history-btn{
        font-size: 1.6rem;
    }
}