*{
  margin: 0;
  padding: 0;
  color: var(--text-color);
  background-color: var(--backgroung-color);
  font-family: serif;
  font-weight: 600;
  /* scroll-behavior: smooth;
  scrollbar-width: thin; */
}
body {
  margin: 0;
  width: fit-content;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}